<div class="search-container">
  <h1>🎮 LoL DPM</h1>
  <p>Recherche un joueur par son Riot ID</p>

  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">

    <div class="form-group">
      <input
        type="text"
        placeholder="Game Name (ex: Faker)"
        [formControl]="searchForm.controls.gameName"
      />
      @if (searchForm.controls.gameName.invalid && searchForm.controls.gameName.touched) {
        <span class="error">Minimum 3 caractères requis</span>
      }
    </div>

    <div class="form-group">
      <input
        type="text"
        placeholder="Tag Line (ex: EUW)"
        [formControl]="searchForm.controls.tagLine"
      />
      @if (searchForm.controls.tagLine.invalid && searchForm.controls.tagLine.touched) {
        <span class="error">Tag requis (ex: EUW)</span>
      }
    </div>

    <button type="submit" [disabled]="searchForm.invalid">
      Rechercher
    </button>

  </form>
</div>
